<form class="col s12"
			action="/auth/login"
			method="post">
	<div class="row">
		<div class="input-field col s12">
			<input id="log_email"
						 type="email"
						 class="validate"
						 name="email"
						 required>
			<label for="log_email">
				Email
			</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="log_password"
						 type="password"
						 class="validate"
						 name="password"
						 required>
			<label for="log_password">
				Password
			</label>
		</div>
	</div>
	<div class="row">
		<div class="btn-block col s12">
			<button class="btn" type="submit">Submit</button>
			<button class="btn" type="reset">Reset Form</button>
		</div>
	</div>
</form>
