<form class="col s12"
			action="/auth/register"
			method="post">
	<input type="hidden" name="_csrf" value="{{csrf}}">
	<div class="row">
		<div class="input-field col s12">
			<input id="reg_first_name"
						 type="text"
						 class="validate"
						 name="name"
						 required>
			<label for="reg_first_name">
				Name
			</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="reg_email"
						 type="email"
						 class="validate"
						 name="email">
			<label for="reg_email">
				Email
			</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="reg_password"
						 type="password"
						 class="validate"
						 name="password"
						 required>
			<label for="reg_password">
				Password
			</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="reg_confirm"
						 type="password"
						 class="validate"
						 name="confirm"
						 required>
			<label for="reg_confirm">
				Confirm password
			</label>
		</div>
	</div>
	<div class="row">
		<div class="btn-block col s12">
			<button class="btn" type="submit">Submit</button>
			<button class="btn" type="reset">Reset Form</button>
		</div>
	</div>
</form>
